@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {

    --color-bg: #141414;
    --color-card:#1a1a1a;
    --color-second: #27272A;


    --font-inter: 'Inter';
}

body {
    font-family: 'Inter';
    overflow-x: hidden;
}